@model Flashcard.Models.FlashcardsFiltradoDataRevisao
@{
    ViewData["title"] = "Flashcards";
}
@if((Model.Hoje == null || !Model.Hoje.Any()) &&
    (Model.UmDia == null || !Model.UmDia.Any()) &&
    (Model.TresDias == null || !Model.TresDias.Any()) &&
    (Model.SeteDias == null || !Model.SeteDias.Any()) &&
    (Model.TrintaDias == null || !Model.TrintaDias.Any())
    )
{
    <div class="container mt-4">
        <a class="btn btn-secondary mb-4" asp-action="Index" asp-controller="Home">
            <i class="fas fa-arrow-left"></i> Voltar ao Início
        </a>
        <div class="alert alert-warning" role="alert">
            Não há flashcards cadastrados.
        </div>
    </div>
}
else
{
<div class="container mt-4">
    <a class="btn btn-secondary mb-4" asp-action="Index" asp-controller="Home">
        <i class="fas fa-arrow-left"></i> Voltar ao Início
    </a>
    @if(Model.Hoje != null && Model.Hoje.Any())
    {
    <div class="row">
        <div class="col">
            <h1>Revisão hoje</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-success mb-4 text-end" href="@Url.Action("Study", "Flashcard", new { baralhoid = @Model.Hoje.FirstOrDefault().BaralhoId, intervalo = 0 })">
            Revisar Flashcards
            </a>
        </div>
    </div>    
    <div class="row">
        @foreach (var carta in Model.Hoje)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@carta.Pergunta</h5>
                        <p class="card-text">@carta.Categoria.Nome</p>
                        <button class="btn btn-primary" onclick="toggleResposta('@carta.Id')">Mostrar Resposta</button>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@carta.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@carta.Id">Excluir</a>
                        <div id="@carta.Id" style="display:none;">
                            <p>@carta.Resposta</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    }
    @if(Model.UmDia != null && Model.UmDia.Any())
    {
    <div class="row">
        <div class="col">
            <h1>Revisão em um dia</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-success mb-4 text-end" href="@Url.Action("Study", "Flashcard", new { baralhoid = @Model.UmDia.FirstOrDefault().BaralhoId, intervalo = 1 })">
            Revisar Flashcards
            </a>
        </div>
    </div>    
    <div class="row">
        @foreach (var carta in Model.UmDia)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@carta.Pergunta</h5>
                        <p class="card-text">@carta.Categoria.Nome</p>
                        <button class="btn btn-primary" onclick="toggleResposta('@carta.Id')">Mostrar Resposta</button>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@carta.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@carta.Id">Excluir</a>
                        <div id="@carta.Id" style="display:none;">
                            <p>@carta.Resposta</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    }
    @if(Model.TresDias != null && Model.TresDias.Any())
    {
    <div class="row">
        <div class="col">
            <h1>Revisão em 3 dias</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-success mb-4 text-end" href="@Url.Action("Study", "Flashcard", new { baralhoid = @Model.TresDias.FirstOrDefault().BaralhoId, intervalo = 2 })">
            Revisar Flashcards
            </a>
        </div>
    </div>
    <div class="row">
        
        @foreach (var carta in Model.TresDias)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@carta.Pergunta</h5>
                        <p class="card-text">@carta.Categoria.Nome</p>
                        <button class="btn btn-primary" onclick="toggleResposta('@carta.Id')">Mostrar Resposta</button>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@carta.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@carta.Id">Excluir</a>
                        <div id="@carta.Id" style="display:none;">
                            <p>@carta.Resposta</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    }

    @if(Model.SeteDias != null && Model.SeteDias.Any())
    {
    <div class="row">
        <div class="col">
                <h1>Revisão em 7 dias</h1>
            </div>
            <div class="col text-end">
                <a class="btn btn-success mb-4 text-end" href="@Url.Action("Study", "Flashcard", new { baralhoid = @Model.SeteDias.FirstOrDefault().BaralhoId, intervalo = 3 })">
                Revisar Flashcards
                </a>
            </div>
        </div>
    <div class="row">
        
        @foreach (var carta in Model.SeteDias)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@carta.Pergunta</h5>
                        <p class="card-text">@carta.Categoria.Nome</p>
                        <button class="btn btn-primary" onclick="toggleResposta('@carta.Id')">Mostrar Resposta</button>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@carta.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@carta.Id">Excluir</a>
                        <div id="@carta.Id" style="display:none;">
                            <p>@carta.Resposta</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    }
    @if(Model.TrintaDias != null && Model.TrintaDias.Any())
    {
    <div class="row">
        <div class="col">
            <h1>Revisão em 30 dias</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-success mb-4 text-end" href="@Url.Action("Study", "Flashcard", new { baralhoid = @Model.TrintaDias.FirstOrDefault().BaralhoId, intervalo = 4 })">
            Revisar Flashcards
            </a>
        </div>
    </div>
    <div class="row">
        
        @foreach (var carta in Model.TrintaDias)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@carta.Pergunta</h5>
                        <p class="card-text">@carta.Categoria.Nome</p>
                        <button class="btn btn-primary" onclick="toggleResposta('@carta.Id')">Mostrar Resposta</button>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@carta.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@carta.Id">Excluir</a>
                        <div id="@carta.Id" style="display:none;">
                            <p>@carta.Resposta</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    }
</div>
}

<script>
    function toggleResposta(id) {
        var resposta = document.getElementById(id);
        if (resposta.style.display === "none") {
            resposta.style.display = "block";
        } else {
            resposta.style.display = "none";
        }
    }
</script>

<!-- Add Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></script>
