@model IEnumerable<Flashcard.Models.FlashcardModel>
@{
    ViewData["title"] = "Flashcards";
    TimeZoneInfo localTimeZone = TimeZoneInfo.Local;
}
@if(@Model == null || !@Model.Any())
{
    <div class="container mt-4">
        <a class="btn btn-secondary mb-4" asp-action="Index" asp-controller="Home">
            <i class="fas fa-arrow-left"></i> Voltar ao Início
        </a>
        <div class="alert alert-warning" role="alert">
            Não há flashcards cadastrados.
        </div>
    </div>
}
else
{
<div class="container mt-4">
    <a class="btn btn-secondary mb-4" asp-action="Index" asp-controller="Home">
        <i class="fas fa-arrow-left"></i> Voltar ao Início
    </a>
    <a class="btn btn-success mb-4 text-end" href="@Url.Action("Study", "Flashcard", new { baralhoid = @Model.FirstOrDefault().BaralhoId })">
        Estudar Flashcards
    </a>
    <div class="row">
        @foreach (var flashcard in Model)
        {
            var localDateTime = TimeZoneInfo.ConvertTimeFromUtc(flashcard.DataCriacao, localTimeZone);
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 20rem; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">@flashcard.Pergunta</h5>
                        <p class="card-text">@localDateTime</p>
                        <p class="card-text">@flashcard.Categoria.Nome</p>
                        <div class="position-absolute top-0 end-0 m-2">
                        <div class="col">
                            <a class="btn btn-warning m-1" href="@Url.Action("Edit", "Flashcard", new { id = flashcard.Id })">
                                <i class="fas fa-pen-square"></i> 
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-danger m-1" href="@Url.Action("Delete", "Flashcard", new { id = flashcard.Id })">
                                <i class="fas fa-trash-alt"></i> 
                            </a>
                        </div>
                        </div>
                        <button class="btn btn-primary" onclick="toggleResposta('resposta-@flashcard.Id')">Mostrar Resposta</button>
                        <p class="card-text mt-2" id="resposta-@flashcard.Id" style="display: none;">@flashcard.Resposta</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}


<script>
    function toggleResposta(id) {
        var resposta = document.getElementById(id);
        if (resposta.style.display === "none") {
            resposta.style.display = "block";
        } else {
            resposta.style.display = "none";
        }
    }
</script>

<!-- Add Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
